extends layout

block content
  h1 Email Archiver
  p.lead Generate PDF backups of email accounts or email folders.
  hr
  .row
    .col-sm-6
      h2 Office
      p There are many email archiving solutions out there. Email Archiver turns your email into PDFs and attachments, making the archive useful as a productivity tool in the office.
      p
        a.btn.btn-default(href='https://emailarchiverpro.com/', role='button') View details »
    .col-sm-6
      h2 Personal
      p Simplify your life (and your inbox) with Email Archiver Pro Create SEC compliant, accessible, and searchable, PDF archive of all your emails.
      p
        a.btn.btn-default(href='https://emailarchiverpro.com/', role='button') View details »
    .col-sm-6
      h2 How it works
      p Setup an account on the site. Then login and add IMAP capable (or Gmail) accounts to the accounts tab. Then let Email Archiver create Email Archiver .
      p
        a.btn.btn-default(href='https://emailarchiverpro.com/', role='button') View details »
    .col-sm-6
      h2 Mac Version Available
      p In addition to this online version, you can download your own macOS application and archive your files on your own computer.
      p
        a.btn.btn-default(href='https://emailarchiverpro.com/download-now/', role='button') Download for Mac »
